.Blog ul{
    padding: 0;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.Blog li{
    list-style: none;
    display: inline;
    margin: 20px;
    box-sizing: border-box;
}

.Blog a{
    text-decoration: none;
    color: black;
}

.Blog a:hover,
.Blog a:active,
.Blog a.active {
    color: #abcdef;
}