.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement{
    outline: none;
    border: 1px solid #cccccc;
    background-color: white;
    padding: 6px 10px;
    font: inherit;
    display: block;
    width: 100%;
}

.InputElement:focus{
    outline: none;
    background-color: #cccccc;
}