.CounterControl{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    display: inline;
}

.CounterControl button {
    background-color: #cccccc;
    padding: 6px 10px;
    margin: 10px;
    cursor: pointer;
    outline: none;
    border: 1px solid #eeeeee;
    border: 4px;
}