.Post{
    display: flex;
    padding: 10px;
    box-shadow: 0 2px 2px #cccccc;
    box-sizing: border-box;
    width: 200px;
    border: 1px solid #eeeeee;
    margin: 10px;
    flex-direction: column;
    cursor: pointer;
}