.NewPost{
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0 2px 2px #cccccc;
    padding: 10px;
    margin: 10px;
}

.NewPost button {
    padding: 6px 10px;
    background-color: lightgreen;
    border: 1px solid lightgreen;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

.NewPost button:hover {
    background-color: darkgreen;
    color: white;
}